<section class="vertical-scrolling">
  <footer class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="ftr-mnu">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <ul class="ftr-lu">
              <h2>
                <span
                  style="
                    font-size: 0px;
                    padding: 22px 10px 5px 7px;
                    background: #dd2b2b;
                  "
                  >2</span
                >&nbsp;Top Products
              </h2>
              <li><a href="#">Orthovidha</a></li>
              <li><a href="#">Lividha </a></li>
              <li><a href="#">Udarnidhi</a></li>
              <li><a href="#">K-cough</a></li>
              <li><a href="#">Laxidha</a></li>
              <li><a href="#">Luconika</a></li>
              <li><a href="#">Hormonika</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <ul class="ftr-lu">
              <h2>
                <span
                  style="
                    font-size: 0px;
                    padding: 22px 10px 5px 7px;
                    background: #dd2b2b;
                  "
                  >2</span
                >&nbsp;Useful Links
              </h2>
              <li>
                <a href="/about_us" target="_blank">Who we are</a>
              </li>
              <li>
                <a href="/raw_herbs" target="_blank">Raw Herbs </a>
              </li>
              <li>
                <a href="/body_analysis_vpk" target="_blank">What we treat</a>
              </li>
              <li>
                <a href="/social_cause" target="_blank">Social Cause</a>
              </li>
              <li>
                <a href="/products" target="_blank">All Product</a>
              </li>
              <li><a href="/career" target="_blank">Career</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <ul class="ftr-lu">
              <h2>
                <span
                  style="
                    font-size: 0px;
                    padding: 22px 10px 5px 7px;
                    background: #dd2b2b;
                  "
                  >2</span
                >&nbsp;Legal Information
              </h2>
              <li>
                <a href="/about_us" target="_blank">About Us</a>
              </li>
              <li>
                <a href="/privacy_policy" target="_blank">Privacy Policy </a>
              </li>
              <li>
                <a href="/terms_and_conditions" target="_blank"
                  >Terms & Conditions</a
                >
              </li>
              <li>
                <a href="/contact" target="_blank">Customer Service</a>
              </li>
              <li>
                <a href="/return_policy" target="_blank">Return Policy</a>
              </li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <ul class="ftr-lu">
              <h2>
                <span
                  style="
                    font-size: 0px;
                    padding: 22px 10px 5px 7px;
                    background: #dd2b2b;
                  "
                  >2</span
                >&nbsp;Social Media
              </h2>
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Instagram </a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Linked in</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="letter-box">
            <form
              action="/api/newsletter"
              method="POST"
              id="upload_data_newsletter"
            >
              <div class="col-md-8 col-sm-8 col-xs-8">
                <label
                  for=""
                  style="color: #fff; font-weight: bold; font-size: 20px"
                  >Newsletters</label
                ><br />
                <input
                  type="text"
                  placeholder="Enter Your Email"
                  class="ftr-inpt"
                  name="email"
                />
                <button type="submit" class="btn btn-danger ftr-btm">
                  Subscribe
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <p
            style="
              color: #fff;
              font-family: Helvetica;
              font-size: 15px;
              padding-top: 20px;
            "
          >
            &copy; Proudly powered by Trividha Team
          </p>
        </div>
      </div>
    </div>
  </footer>
</section>
<!-------- footer section		-----	 -->
