<!-- footer fixed nav starts -->
<div class="bottom-bx">
  <div class="innerbx">
    <a
      href="https://store.jiva.com/?utm_source=jiva&amp;utm_medium=store&amp;utm_campaign=test_wellness"
      target="_blank"
    >
      <div class="icon lift">
        <p>
          <i class="fa fa-shopping-cart" aria-hidden="true"></i><br />
          E-store
        </p>
      </div>
    </a>
  </div>
  <div class="innerbx">
    <a href="https://www.jiva.com/treatment/video">
      <div class="icon lift">
        <p><i class="fa fa-book" aria-hidden="true"></i> <br />E-book</p>
      </div>
    </a>
  </div>
  <div class="innerbx">
    <a
      href="javascript:void(0);"
      onclick="LC_API.open_chat_window(); return false;"
    >
      <div class="icon lift">
        <p>
          <i class="far fa-comments" aria-hidden="true"></i> <br />
          Chat
        </p>
      </div>
    </a>
  </div>
</div>
<!-- footer fixed nav ends -->
