<!-- header top-fix side navbar starts  -->
<div id="mySidenav" class="sidenav">
  <div class="container" style="background-color: #000; padding-top: 2px">
    <span class="sidenav-heading">
      <a href="/index">
        <img src="/public_images/Logo.png" />
      </a>
    </span>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  </div>
  <a href="/raw_herbs">Raw herb </a>
  <a href="/doctor">Treatments </a>
  <a href="/diet">Diet Planner</a>
  <a href="/doctor">Consultation</a>
  <a href="/social_cause">Social Cause</a>
  <a href="/products">Products </a>
  <a href="/blog">Blog </a>
</div>
<!-- header top-fix side navbar ends  -->
