<!-- Social Links Starts -->
<div class="icon-bar">
  <a href="#" class="twitter lift"><i class="fa fa-twitter"></i></a>
  <a href="#" class="twitter lift"
    ><i class="fa fa-instagram" aria-hidden="true"></i
  ></a>

  <a href="#" class="linkedin lift"><i class="fa fa-linkedin"></i></a>
  <a href="#" class="facebook lift"><i class="fa fa-facebook"></i></a>
</div>

<!-- Social Links Ends  -->
